/*------- Common CSS Starts -------*/

html { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
body { background: url("../images/banner.jpg") no-repeat top/cover; height: 100vh; margin: 0; padding: 0; }

/*------- Common CSS Ends -------*/

/*------- SVG Animation Section Starts -------*/

.word-center { left: 50%; position: absolute; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); }
.banner-heading { fill: transparent; animation: fill 0.5s ease forwards 4s; -webkit-animation: fill 0.5s ease forwards 4s; -moz-animation: fill 0.5s ease forwards 4s; -ms-animation: fill 0.5s ease forwards 4s; -o-animation: fill 0.5s ease forwards 4s; height: 125px; }
.banner-heading path { stroke: #fff; stroke-width: 1px; }
.banner-heading path:nth-child(1) {
  stroke-dasharray: 350.0832824707031;
  stroke-dashoffset: 350.0832824707031;
  animation: lineanim 2s ease forwards;
  -webkit-animation: lineanim 2s ease forwards;
  -moz-animation: lineanim 2s ease forwards;
  -ms-animation: lineanim 2s ease forwards;
  -o-animation: lineanim 2s ease forwards;
}
.banner-heading path:nth-child(2) {
  stroke-dasharray: 305.0181884765625;
  stroke-dashoffset: 305.0181884765625;
  animation: lineanim 2s ease forwards 0.3s;
  -webkit-animation: lineanim 2s ease forwards 0.3s;
  -moz-animation: lineanim 2s ease forwards 0.3s;
  -ms-animation: lineanim 2s ease forwards 0.3s;
  -o-animation: lineanim 2s ease forwards 0.3s;
}
.banner-heading path:nth-child(3) {
  stroke-dasharray: 318.0108947753906;
  stroke-dashoffset: 318.0108947753906;
  animation: lineanim 2s ease forwards 0.5s;
  -webkit-animation: lineanim 2s ease forwards 0.5s;
  -moz-animation: lineanim 2s ease forwards 0.5s;
  -ms-animation: lineanim 2s ease forwards 0.5s;
  -o-animation: lineanim 2s ease forwards 0.5s;
}
.banner-heading path:nth-child(4) {
  stroke-dasharray: 213.69090270996094;
  stroke-dashoffset: 213.69090270996094;
  animation: lineanim 2s ease forwards 0.7s;
  -webkit-animation: lineanim 2s ease forwards 0.7s;
  -moz-animation: lineanim 2s ease forwards 0.7s;
  -ms-animation: lineanim 2s ease forwards 0.7s;
  -o-animation: lineanim 2s ease forwards 0.7s;
}
.banner-heading path:nth-child(5) {
  stroke-dasharray: 217.49349975585938;
  stroke-dashoffset: 217.49349975585938;
  animation: lineanim 2s ease forwards 0.9s;
  -webkit-animation: lineanim 2s ease forwards 0.9s;
  -moz-animation: lineanim 2s ease forwards 0.9s;
  -ms-animation: lineanim 2s ease forwards 0.9s;
  -o-animation: lineanim 2s ease forwards 0.9s;
}
.banner-heading path:nth-child(6) {
  stroke-dasharray: 283.77850341796875;
  stroke-dashoffset: 283.77850341796875;
  animation: lineanim 2s ease forwards 1.1s;
  -webkit-animation: lineanim 2s ease forwards 1.1s;
  -moz-animation: lineanim 2s ease forwards 1.1s;
  -ms-animation: lineanim 2s ease forwards 1.1s;
  -o-animation: lineanim 2s ease forwards 1.1s;
}
.banner-heading path:nth-child(7) {
  stroke-dasharray: 274.8248291015625;
  stroke-dashoffset: 274.8248291015625;
  animation: lineanim 2s ease forwards 1.3s;
  -webkit-animation: lineanim 2s ease forwards 1.3s;
  -moz-animation: lineanim 2s ease forwards 1.3s;
  -ms-animation: lineanim 2s ease forwards 1.3s;
  -o-animation: lineanim 2s ease forwards 1.3s;
}
.banner-heading path:nth-child(8) {
  stroke-dasharray: 217.49497985839844;
  stroke-dashoffset: 217.49497985839844;
  animation: lineanim 2s ease forwards 1.5s;
  -webkit-animation: lineanim 2s ease forwards 1.5s;
  -moz-animation: lineanim 2s ease forwards 1.5s;
  -ms-animation: lineanim 2s ease forwards 1.5s;
  -o-animation: lineanim 2s ease forwards 1.5s;
}
.banner-heading path:nth-child(9) {
  stroke-dasharray: 332.4620666503906;
  stroke-dashoffset: 332.4620666503906;
  animation: lineanim 2s ease forwards 1.7s;
  -webkit-animation: lineanim 2s ease forwards 1.7s;
  -moz-animation: lineanim 2s ease forwards 1.7s;
  -ms-animation: lineanim 2s ease forwards 1.7s;
  -o-animation: lineanim 2s ease forwards 1.7s;
}
.banner-heading path:nth-child(10) {
  stroke-dasharray: 210.0966339111328;
  stroke-dashoffset: 210.0966339111328;
  animation: lineanim 2s ease forwards 1.9s;
  -webkit-animation: lineanim 2s ease forwards 1.9s;
  -moz-animation: lineanim 2s ease forwards 1.9s;
  -ms-animation: lineanim 2s ease forwards 1.9s;
  -o-animation: lineanim 2s ease forwards 1.9s;
}
@keyframes lineanim {
    to { stroke-dashoffset: 0; }
}
@-webkit-keyframes lineanim {
    to { stroke-dashoffset: 0; }
}
@-moz-keyframes lineanim {
    to { stroke-dashoffset: 0; }
}
@-ms-keyframes lineanim {
    to { stroke-dashoffset: 0; }
}
@-o-keyframes lineanim {
    to { stroke-dashoffset: 0; }
}
@keyframes fill {
    from { fill: transparent; }
    to { fill: #fff; }
}
@-webkit-keyframes fill {
    from { fill: transparent; }
    to { fill: #fff; }
}
@-ms-keyframes fill {
    from { fill: transparent; }
    to { fill: #fff; }
}
@-o-keyframes fill {
    from { fill: transparent; }
    to { fill: #fff; }
}

/*------- SVG Animation Section Ends -------*/